  
:root {
  --pale: white;
  --teal: #0099ff;
  --link-color: white;
  --olive: #879634; 
  --dark: #13293d;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark);
    }

h1 {
  font-size: 3rem;
  color: var(--teal);
  margin-bottom: 20px;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  color: var(--teal);
  margin-bottom: 20px;
  font-weight: 900;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  color: var(--teal);
  margin-bottom: 20px;
  font-weight: 900;
}




/*Setting nav element style */
nav ul {
display: flex;
justify-content: space-between;
min-width: 300px;
margin-bottom: 20px;
padding: 0 3px;
}

nav a {
color: var(--link-color);
font-weight: bold;
text-decoration: none;
}

nav a::after{
content:'';
display: block;
height: 4px;
width: 0;
background-color: var(--olive);
transition: .5s;
}

nav a:hover::after {
width:100%
}

/**allows all the content in the main html to flex, both aside & body which is what I didn't 
want and was casuing me grief and i've commented it out so i can yell at myself for 
it later**/
/* main {
  display: flex; 
} */


/** make it so the aside columm is 30% of the viewscreen**/
/* aside {
  flex: 30%; 
  background-color: #b9c6ae;
  padding: 20px;
  flex-wrap: wrap;
} */

/** make it so the body section is 70% of the viewscreen**/

.greeting {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border: 2px solid red;
}

/**sets personal-image elements **/
.personal-image {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 25%; /** take up 100% of the available flex width **/
  margin-top: 20px;
  padding: 20px;  /**pushes the text image down 20px from corner of image box **/
  height: 200px;  /** sets height of image**/
}

/**to make the images responsive **/
.hero-image {
  width: 100%;
  height: auto;
  border-radius: 25%;
  justify-content: flex-end;
}

.about-me {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border: 2px solid purple;
}

.work-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border: 2px solid yellow;
}

/* section {
  background-color: #fff;
  padding: 20px;
 
} */


/** pushes the text down away from top of the content box, aligns text**/
footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  display: flex;
  justify-content: space-between;
}




/** to make the contact footer links behaviour match the nav links from above **/
.content-right {
  display: flex;
  justify-content: space-around;
  width: 75%;
  color: var(--link-color);
  font-size: 1.5rem;
  text-decoration: none;
  }

  .content-right a {
    color: var(--link-color);
    text-decoration: none; 
  }

  .content-right a::after{
    content:'';
    display: block;
    height: 4px;
    width: 0;
    background-color: var(--olive);
    transition: .5s;
    }
 
    .content-right a:hover::after {
      width:100%
      }


 /* Image Placeholders */

 
 .sample-img {
  background-color: #fff;
  width: 100%; /** take up 100% of the available flex width **/
  margin-top: 10px;
  padding: 20px;  /**pushes the text image down 20px from corner of image box **/
  height: 200px;  /** sets height of image**/
  border: 1px solid black;
  
}
/* Image Placeholders */
 .sample-img {
  background-color: #fff;
  width: 50%; 
  margin-top: 10px;
  padding: 20px;  /**pushes the text image down 20px from corner of image box **/
  height: 200px;  /** sets height of image**/
  border: 1px solid orange; 
  
}



  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets -  */
@media screen and (max-width: 992px) {
  header {
    
  }
}

/* Large smartphones -  */
@media screen and (max-width: 768px) {
  nav {
  }
}

/* Small smartphones - image placeholders  */
@media screen and (max-width: 576px) {
  .personal-image {
    display: none;
  }
}