
:root {
  --pale: white;
  --teal: #0099ff;
  --link-color: #f60;
  --olive: #879634; 
}

/*Setting body element style */
body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: var(--pale);
    color: var(--teal);
    font-family: Verdana, Tahoma, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--teal);
    color: var(--pale);
  }
  
  h1 {
    font-size: 2.5rem;
    color: var(--pale);
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5rem;
    color: var(--teal);
    margin-bottom: 20px;
  }

/*Setting nav element style */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin-bottom: 20px;
    padding: 0 3px;
  }
  
  nav a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a::after{
    content:'';
    display: block;
    height: 4px;
    width: 0;
    background-color: var(--olive);
    transition: .5s;
  }

  nav a:hover::after {
    width:100%
  }
  
 .about-me, .work, .contact{
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
 } 

.content-left {
  border: 2px solid black;
  width: 25%;
}

.content-right {
   border: 2px solid blue;
   width: 75%;
}

main {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height:calc(100vs - 100px);
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.personal-image {
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  margin: 2%;
}

.email, .github {

}